/* Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #050007;
    color: #f0f0f0;
    line-height: 1.6;
}

/* Navigation */
header {
    background-color: #2e053ab1;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fdc6ff;
    transition: color 0.3s;
    font-family: "Ink Free";
    font-size: 1rem;
}

.nav-links a:hover {
    color: #f0f0f0;
}

/* Hero section */
.hero {
    text-align: center;
    padding: 100px 20px;
    /*background: #181818;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.hero h1 {
    font-size: 5rem;
    margin-bottom: 10px;
    color:#9d24a1;
    font-family:'Comic Sans MS';
}

.hero p {
    font-size: 2rem;
    color: #121212;
    font-family: "Ink Free";
}

.hero-text{
    margin-left: 100px;
    text-align: left;
}


.highlight {
    color: #f0f0f0;
    font-family: "Papyrus";
    text-shadow:
        0 0 5px #9d24a1,
        0 0 5px #9d24a1;
}

.hero .profile-pic {
    width: 350px;
    height: auto;
    border-radius: 40px;
    align-items: right;
    margin-right: 100px;
    border: 4px solid #fdc6ffb3;
}

.glass-border {
    padding: 8px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.hero-video-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 1;
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
  padding-top: 30vh;
  z-index: 2;
}

/* About */
.about, .projects, .certs {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
    text-decoration: none;
}

.about h2, .projects h2, .certs h2 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Papyrus";
    color: #ef83f3;
    text-decoration: none;
}

.about-descr{
    font-family: "Papyrus";
    color: #f0f0f0;
    font-size: large;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 25px;
    justify-items: center;
    align-items: start;
    padding: 40px 20px;
}


.skill-card{
    background: rgba(239, 131, 243, 0.3);
    border: 6px solid rgba(239, 131, 243, 0.366);
    border-radius: 15px;
    padding: 20px;
    width: 180px;
    height: 140px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    color: #fdc6ff;
    box-shadow: 0 0 10px rgba(239, 131, 243, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    transform: rotate(var(--r, 0deg));
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.skill-card:hover { 
    transform: scale(1.1) rotate(0deg);
    box-shadow: 0 0 20px rgba(239, 131, 243, 0.8), 0 0 40px rgba(239, 131, 243, 0.5), 0 0 60px rgba(239, 131, 243, 0.3);
}

.skill-card h3 {
    margin: 0;
    font-size: 1.2rem;
    font-family: "Papyrus";
}

.skill-card.pl {
    background: rgba(239, 131, 243, 0.3);
    border-color:rgba(239, 131, 243, 0.366);
    box-shadow: 0 0 10px rgba(239, 131, 243, 0.5);
}

.skill-card.cs {
    background: rgba(100, 200, 255, 0.2);
    border-color: rgba(100, 200, 255, 0.3);
    box-shadow: 0 0 10px rgba(100, 200, 255, 0.5);
}

.skill-card.ep {
    background: rgba(120, 255, 180, 0.2);
    border: 4px solid rgba(120, 255, 180, 0.4);
    box-shadow: 0 0 14px rgba(120, 255, 180, 0.55);
}

.skill-card.cp {
     background: rgba(255, 215, 130, 0.28);
    border: 4px solid rgba(255, 215, 130, 0.5);
    box-shadow:
        0 0 16px rgba(255, 215, 130, 0.55),
        0 0 32px rgba(255, 215, 130, 0.25);
}


.skill-card.db {
    background: rgba(255, 100, 120, 0.22);
    border: 4px solid rgba(255, 100, 120, 0.45);
    box-shadow: 0 0 16px rgba(255, 100, 120, 0.6);
}

.skill-card.ai {
    background: rgba(170, 140, 255, 0.22);
    border: 4px solid rgba(170, 140, 255, 0.45);
    box-shadow: 0 0 16px rgba(170, 140, 255, 0.6);
}

/* Projects */
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-list a {
    text-decoration: none;
    color: inherit;
}



.project-card {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(239, 131, 243, 0.4);
}

.project-pic{
    border-radius: 40px;
    align-items: right;
    margin-right: 100px;
    border: 4px solid #fdc6ffb3;
    width: 100%;
    height: auto;        
    object-fit: contain;   
    border-radius: 10px;
    margin-bottom: 10px;
}


/* Footer */
footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #180023;
    color: #fdc6ff;
    font-family: "Ink Free";
}

.fast-contact {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}

.fast-contact a {
    text-decoration: none;
    transition: color 0.3s;
    font-family: "Ink Free";
    color: #fdc6ff;
}

.fast-contact a:hover {
    color: #f0f0f0;
}

.copy{
    font-family: "Ink Free" ;
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}


/*Certificates*/

#certs {
  padding: 60px 20px;
}


#certs h3{
    font-family: "Papyrus";
    color: #ef83f3;
}

.cert-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-decoration: none;
    color: inherit;
}

.cert-list a {
    text-decoration: none;
    color: inherit;
}

.cert-card {
    background: rgba(49, 40, 52, 0.203);
    border: 5px solid rgba(180, 140, 255, 0.25);
    backdrop-filter: blur(6px);
    padding: 16px;
    border-radius: 14px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.cert-card:hover {
    transform: translateY(-5px) scale(1.03); 
    box-shadow: 0 10px 25px rgba(239, 131, 243, 0.5); 
}

.cert-img {
    width: 100%;
    height: 180px;        
    object-fit: contain;   
    border-radius: 10px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
}


.cert-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(6px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    padding: 20px;
}

.cert-modal-img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 12px;
}

.cert-modal p {
    margin-top: 12px;
    font-family: "Papyrus";
    color: #ef83f3;
    font-size: 2rem;
}

.cert-close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}
.cert-close-img{
    width: 40px;
    height: auto;
}


/*Projects text*/
.projects h3{
    font-family: "Papyrus";
}

.pr-descr {
    font-family: "Papyrus";
}



/* Hero Section Mobile */
@media (max-width: 768px) {

    .hero {
        position: relative;
        width: 100%;
        flex-direction: row; 
        text-align: center;
        display: flex;
        gap: 50px;
        min-height: auto;
        height: auto;
        align-items: flex-start;
        padding-top: 50px;
        overflow: hidden;
    }


    .hero-text {
        margin-left: 0;
        text-align: start;
    }

    .hero h1 {
        font-size: 2.5rem; 
    }

    .hero p {
        font-size: 1.2rem;
    }

    .hero .profile-pic {
        width: 90px;  
        margin: 0 auto 20px;
        align-items: center;
        margin-right: 10px;
        margin-top: 15px;
        flex-shrink: 0;
    }

    .bg-video {
        position: absolute;
        width: 100%;
        height: auto;
        min-height: 100%; 
        object-fit: cover;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    .hero-overlay {
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.4);
        z-index: 1;
    }
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: row;
        gap: 15px;
        margin-right: 10px;
    }

    .nav-links a {
        text-decoration: none;
        color: #fdc6ff;
        transition: color 0.3s;
        font-family: "Papyrus";
        font-size: 1rem;
    }

    header {
        padding: 10px 0;
        width: 100%;
    }
        .nav {
        max-width: 1200px;
    }

    #modalCaption{
        text-align: center;
        word-wrap: break-word;
    }
    

    .copy {
        margin-left: -50px;
    }
    footer {
        font-family: "Papyrus";
    }
    
    footer, header {
        width: 100%;
        box-sizing: border-box; /* padding не увеличивает ширину */
    }
    img, video {
        max-width: 100%;
        height: auto;
    }

    html, body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden; 
    }
}

